* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

body {
    font-family: 'Noto Sans', sans-serif;
}

.background {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #009688 20%, #d5dbd8 0%);
    display: flex;
}

.background .container {
    height: 90vh;
    width: 70vw;
    background-color: white;
    z-index: 1;
    margin: auto;
    display: flex;
}

 /*    ASIDE    */

aside {
    width: 35%;
}

aside .nav-sinistra {
    height: 80px;
    background-color: #ededed;
    border-right: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.avatar img {
    height: 50px;
    width: 50px;
}

.nav-sinistra .avatar {
    padding-left: 10px;
    cursor: pointer;
}

.nav-sinistra .icone {
    margin-left: auto;
    padding-right: 10px;
}

.icone i {             /*qui stilizzo le icone sia per la parte destra che per la sinistra così risparmio linee*/
    font-size: 20px;
    color: #919191;
    padding: 10px;
    cursor: pointer;
}

aside .box-azzurro-notifiche-desktop {
    height: 90px;
    background-color: #9de1fe;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

aside .bell {
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background-color: white;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

aside .bell i {
    font-size: 20px;
    color: #9de1fe;
}

aside .box-azzurro-notifiche-desktop .testo {
    padding-left: 30px;
}

.box-azzurro-notifiche-desktop .testo p {
    font-size: 20px;
    font-weight: 700;
}

.box-azzurro-notifiche-desktop .testo a {
    color: #414b50;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.box-azzurro-notifiche-desktop .testo a:hover {
    border-bottom: 1px solid black;
}

aside .cerca {
    height: 40px;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

aside .search-bar-icon {
    position: absolute;
    left: 30px;
}

aside .search-bar-icon i {
    color: #999999;
}


aside .cerca input {
    height: 30px;
    width: 90%;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
}


aside .box-preview-chat {
    height: calc(90vh - 210px);
    overflow: auto;
}

/*stilizzo la scrollbar (anche se su mozilla non si vede)*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(232, 232, 232, 1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}

aside .preview-chat {
    height: 70px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
}

aside .preview-chat .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity:0;
    padding: 20px;
    text-align: center;
}

aside .preview-chat:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

aside .preview-chat .avatar {
    padding-left: 10px;
}

aside .preview-chat .testo {
    margin-left: 20px;
}

aside .preview-chat .testo p {
    font-size: 18px;
    font-weight: 700;
}

aside .preview-chat .testo span {
    color: #919191;
    font-size: 15px;
}

aside .orario  {
    margin-left: auto;
    padding-right: 5px;
}

aside .orario span {
    color: #919191;
    font-size: 12px;
}

/*     PARTE DESTRA   */

.box-conversazioni {
    width: 65%;
}

.box-conversazioni .nav-destra {
    height: 80px;
    background-color: #ededed;
    border-left: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-destra .avatar {
    padding-left: 20px;
    cursor: pointer;
}

.nav-destra .testo {
    padding-left: 20px;
}

.nav-destra .testo p {
    font-size: 18px;
    font-weight: 700;
}

.nav-destra .testo span {
    color: grey;
    font-size: 14px;
}

.nav-destra .icone {
    margin-left: auto;
    margin-right: 20px;
}

.box-conversazioni .chat {
    height: calc(90vh - 160px);
    background-image:url(https://fsa.zobj.net/crop.php?r=Y7XpYTU5wXAZHT1I-HGkqNiqY1umyP2ahrm8H1akctM1u5gRfs35OOglkZ8Cj3zonzO0Gh7mBcZ3bi5czNKnkuqe-F1E1iJjTvnOB1d5p2o59NL3le93Wd6fOMo-lSfWf-IgvhxkJdQv8RSV);
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box-conversazioni .chat .messaggi-destra{
    margin-top: 80px;
}

.box-conversazioni .chat .messaggio-text {
    height: 60px;
    width: 150px;
    background-color: lightgreen;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 70px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.box-conversazioni .chat  p {
    align-self: flex-start;
    padding-left: 4px;
}

.box-conversazioni .chat  span {
    font-size: 10px;
    color: #919191;
    align-self: flex-end;
}

.box-conversazioni .chat .terzo-messaggio-text {
    height: 60px;
    width: 150px;
    background-color: white;
    border-radius: 10px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.box-conversazioni .write-msg {
    height: 80px;
    background-color: #ededed;
    border-left: 2px solid #e0e0e0;
    display: flex;
    align-items: center;
}

.box-conversazioni .write-msg .icone {
    padding-left: 20px;
    padding-right: 10px;
}

.box-conversazioni .write-msg .scrivi input {
    height: 40px;
    width: 700px;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
}

.box-conversazioni .write-msg .microfono {
    margin-left: auto;
    margin-right: 50px;
}

.box-conversazioni .write-msg .microfono i {
    font-size: 20px;
    color: #919191;
    cursor: pointer;
}
